{% extends 'base.html.twig' %}

{% block title %}Posts list{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="wrapper">
    <div>
        {% if app.user %}
            <p>Hello, {{ app.user.email}}</p>
            <a href="{{ logout_path() }}">Logout</a>
        {% else %}
            <a href="{{ path('register') }}">Register</a>
            <a href="{{ path('login') }}">Login</a>
        {% endif %}
    </div>

    {% for flash in app.flashes('errors') %}
        <p style="color: red">{{ flash }}</p>
    {% endfor %}

    {% for flash in app.flashes('info') %}
        <p style="color: green">{{ flash }}</p>
    {% endfor %}

    <h1>Posts</h1>

    <table>
        <thead>
            <th>ID</th>
            <th>Author</th>
            <th>Title</th>
            <th>Body</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.authorName }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.body }}</td>
                    <td>
                        {# <a href="{{ path('post_delete', {'id': post.id}) }}">Delete</a> #}
                        <form action="{{ path('post_delete', {'id': post.id}) }}" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
