{% extends 'base.html.twig' %}

{% block title %}Posts list{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div>
        {% if app.user %}
            <p>Hello, {{ app.user.email}}</p>
            <a href="{{ logout_path() }}">Logout</a>
        {% else %}
            <a href="{{ path('register') }}">Register</a>
            <a href="{{ path('login') }}">Login</a>
        {% endif %}
    </div>

    {% for flash in app.flashes('errors') %}
        <p style="color: red">{{ flash }}</p>
    {% endfor %}

    {% for flash in app.flashes('info') %}
        <p style="color: green">{{ flash }}</p>
    {% endfor %}

    <h1>Posts</h1>

    {% for post in posts %}
        <h2>{{ post.title }}</h2>

        {% if app.user %}
            <a href="{{ path('post_delete', {'id': post.id}) }}">Delete</a>
        {% endif %}

        <p>By <strong>{{ post.authorName }}</strong></p>
        <article>{{ post.body }}</article>
    {% endfor %}
</div>
{% endblock %}
